---
http_interactions:
- request:
    method: post
    uri: https://splunk.io/collector/event
    body:
      encoding: UTF-8
      string: '{"index":"test_index","source":"gem_test","event":{"hello":"world"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Splunk xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"text":"Success","code":0}'
  recorded_at: Tue, 09 Feb 2016 19:59:18 GMT
recorded_with: VCR 3.0.1
